*{
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.books{
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.book{
    width: 200px;
    height: 200px;
    background-color: pink;
    flex: 1;
    margin: 5px;
}
.update{
    color: green;
    border: 3px solid green;
    padding:2px;
    margin: 1px;
    width: 100px;
    cursor: pointer;
}
.delete{
    margin: 1px;
    color: red;
    border: 3px solid red;
    width: 100px;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
}